.expenses-filter{
    color: #242035;
    padding: 0 1rem;
    transition: color .2s ease;
  }

  .dark-mode .expenses-filter{
    color: #d1d1d1;
  }
  
  .expenses-filter__control{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
  }
  
  .expenses-filter label{
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .expenses-filter select{
    font: inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    background: #ebebeb;
    cursor: pointer;
    box-shadow:  3px 3px 6px #bebebe, 
                 -3px -3px 6px #ffffff;
    transition: background .2s ease, box-shadow .2s ease, color .2s ease;
  }

  .dark-mode .expenses-filter select{
    color: #d1d1d1;
    background: #1A1B1F;
    box-shadow:  3px 3px 6px #101114, 
                 -3px -3px 6px #24252a;
  }

  .expenses-filter select:focus,
  .expenses-filter select:active{
    border: none;
    outline: none;
    box-shadow: inset 3px 3px 6px #bebebe,
    inset -3px -3px 6px #ffffff;
  }

  .dark-mode .expenses-filter select:focus,
  .dark-mode .expenses-filter select:active{
    box-shadow: inset 3px 3px 6px #101114,
    inset -3px -3px 6px #24252a;
  }
