.new-expense{
    background-color: #ebebeb;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow:  3px 3px 6px #bebebe, 
                 -3px -3px 6px #ffffff;
    transition: background .2s ease, box-shadow .2s ease;
  }

  .dark-mode .new-expense{
    background: #1A1B1F;
    box-shadow:  3px 3px 6px #101114, 
                 -3px -3px 6px #24252a;
  }
  
  .new-expense button{
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: none;
    background-color: #ebebeb;
    box-shadow:  3px 3px 6px #bebebe, 
    -3px -3px 6px #ffffff;
    color: rgb(15, 15, 15);
    border-radius: 12px;
    margin-right: 1rem;
    transition: background .2s ease, box-shadow .2s ease, color .2s ease;
  }

  .dark-mode .new-expense button{
    background: #1A1B1F;
    color: #d1d1d1;
    box-shadow:  3px 3px 6px #101114, 
                 -3px -3px 6px #24252a;
  }
  
  .new-expense button:hover,
  .new-expense button:active{
    box-shadow: inset 3px 3px 6px #bebebe,
    inset -3px -3px 6px #ffffff;
  }
  
  .dark-mode .new-expense button:hover,
  .dark-mode .new-expense button:active{
    box-shadow: inset 3px 3px 6px #101114,
    inset -3px -3px 6px #24252a;
  }
  
  /* .new-expense button.alternative{
    color: #220131;
    border-color: transparent;
    background-color: transparent;
  }
  
  .new-expense button.alternative:hover,
  .new-expense button.alternative:active{
    background-color: #ddb3f8;
  } */