@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:focus {
  outline: 0;
}

::-moz-selection {
  background: #1A1B1F;
  color: #fff;
}

::selection {
  background: #1A1B1F;
  color: #fff;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}
/* 
html::-webkit-scrollbar {
  background: #e9e9e9;
} */


html {
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
  margin: 0;
  background: #f4f4f4;
  transition: background .2s ease;
}

body.dark-mode {
  background: #1A1B1F;
}

@media only screen and (max-width: 1050px){
  body{
    padding-top: 4rem;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}